@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <img src="https://www.guerlain.com/on/demandware.static/-/Sites-GSA_US_Storefront_catalog_new_DO_NOT_TOUCH/default/dwf5bb4122/HeroBanner_NewTemplate/Fragrance/AA/AA-HARVEST_HEADER-BANNER_PLP_DESKTOP_TRIO.jpg" style=" height: 688px; width: 1526px; margin-left: -210px;" />

    
           <a href="@Url.Action("ProductPartial","Products")"
              class="btn btn-primary btn-lg text-center" style=" color: white;
        background-color: black; margin-left: 480px; margin-top: -350px;
        border: black; height: 70px; width: 190px; "><div style="margin-top: 15px;"><b>SHOP NOW</b></div></a>
   @* @Html.ActionLink("SHOP NOW", "ProductPartial", "Products") *@
</div>
  